
#male{
    height: 400px;
    width: 500px;
    display: inline-block;
  
    text-align: center;
    

}
#female{
    height: 400px;
    width: 500px;
    display: inline-block;
   
    text-align: center;
}
#male img{
    height:  200px;

  
}
#female img{
    height: 200px;
    
    
    
}
#male:hover{
    box-shadow: 2px 3px 5px;
}